## <strong>파이썬 컬렉션</strong>
1. 컬렉션 타입 소개
2. 리스트

### <strong>1. 컬렉션 타입 소개</strong>
+ Immutable Sequence 유형: Tuples, String
+ Mutable Sequence 유형: Lists, Sets

In [1]:
# [+] Tuple은 (value 1, value 2, ..., value n)와 같은 형식으로 선언
coordinate = (3,4) # Tuple 예: 좌표
coordinate[0]  # Jupyter lab에서는 셀 마지막 문장 실행 결과를 print() 상관없이 출력

3

In [3]:
# [+] Tuple은 값 변경이 불가능하다(immutable).
coordinate = [1, 2]
coordinate[0] = 2

In [9]:
# String 선언 방식: "문자열 내용" 또는 '문자열 내용'
name = "Hyun Ahn"
name

'Hyun Ahn'

In [11]:
# [+] String도 역시 immutable
new_name = name[:4] + 'B' + name[5:] 
print(new_name)

HyunBAhn

In [12]:
# [+] List 선언 방식: [value 1, value 2, ..., value n]
my_info_lst = ["hyun Ahn", 21, 'Male', True] # list 예: 개인정보
my_info_lst

['hyun Ahn', 21, 'Male', True]

In [13]:
# [+] List는 값 변경(추가, 삭제, 수정)이 가능하다.
my_info_lst[1] = 2004 # 수정
my_info_lst.append("Anyang") # 추가
my_info_lst.remove('Male') # 삭제
print(my_info_lst)

['hyun Ahn', 2004, True, 'Anyang']

In [14]:
# [+] Set 선언 방식: set(List 객체)
my_info_set = set(my_info_lst)

In [18]:
# Set은 중복 허용하지 않고, 순서가 없다.
my_info_set.add("Anyang")
print(my_info_lst)

['hyun Ahn', 2004, True, 'Anyang']

In [19]:
my_info_lst[0]

'hyun Ahn'

In [20]:
# [+] Dictionary 선언 방식: {'key 1':'value 1', ..., 'key n': 'value n'}

hsu_dict = hsu_dict = {
    'name': 'Alice',
    'age': 25,
    'city': 'Anyang'
}
print(hsu_dict)

{'name': 'Alice', 'age': 25, 'city': 'Anyang'}

In [21]:
# [+] Dictionary 값 추가
hsu_dict['gender'] = 'Female'
hsu_dict

{'name': 'Alice', 'age': 25, 'city': 'Anyang', 'gender': 'Female'}

### <strong>2. 리스트</strong>

In [22]:
# [+] 리스트 선언
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23]
primes

[2, 3, 5, 7, 11, 13, 17, 19, 23]

In [23]:
# 다양한 유형의 데이터 저장
mixed = ['Jenny', 1, 1.4, True]
mixed

['Jenny', 1, 1.4, True]

In [24]:
# 다차원 리스트
list_of_lists = [['a', 1], ['b', 2]]
list_of_lists

[['a', 1], ['b', 2]]

In [25]:
# Zero-indexing
names = ['Roger', 'Rafael', 'Andy', 'Novak']

print(names[0]) # first data
print(names[1])
print(names[2])
print(names[3])

Roger
Rafael
Andy
Novak

In [26]:
# Negative indexing
print(names[-1]) # last data
print(names[-2]) # second to last data
print(names[-3]) # third to last data
print(names[-4])

Novak
Andy
Rafael
Roger

In [27]:
# [+] 리스트 슬라이싱
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
building_slice = hsu_buildings[1:4] # [장공관, 필헌관, 소통관] 선택
building_slice

['장공관', '필헌관', '소통관']

In [28]:
# [+] 슬라이스 값 수정
building_slice[0] = "생활관"
print(building_slice)
print(hsu_buildings)

['생활관', '필헌관', '소통관']
['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']

In [29]:
# 다차원 리스트
restaurants = [['해우리', '한식', '고S'], ['화락', '일식', '화락초밥'], 
               ['찌개동아리', '한식', '제육전골'], ['몽상', '양식', '매운크림리조또']]

restaurants

[['해우리', '한식', '고S'],
 ['화락', '일식', '화락초밥'],
 ['찌개동아리', '한식', '제육전골'],
 ['몽상', '양식', '매운크림리조또']]

In [30]:
# [+] 리스트 수정
restaurants[0][2] = '해우라면'
restaurants[0]

['해우리', '한식', '해우라면']

In [31]:
restaurants[3][2] = '피자'
restaurants

[['해우리', '한식', '해우라면'],
 ['화락', '일식', '화락초밥'],
 ['찌개동아리', '한식', '제육전골'],
 ['몽상', '양식', '피자']]

In [32]:
# [+] 리스트 병합하기
items_one = ['cake', 'cookie', 'bread']
items_two = ['biscuit', 'tart']

total_items = items_one + items_two
total_items

['cake', 'cookie', 'bread', 'biscuit', 'tart']

#### <strong>리스트에서 제공하는 메소드들</strong>

In [33]:
# [+] len()
knapsack = [2, 4, 3, 7, 10]
size = len(knapsack)
size

5

In [34]:
# [+] append() 추가하기 
orders = ['daisies', 'periwinkle']
orders.append('rose')
orders

['daisies', 'periwinkle', 'rose']

In [35]:
# [+] insert() 원하는 위치 데이터 삽입 
store_line = ['Karla', 'Maxium', 'Martin', 'Isabella']
store_line.insert(2, 'Seojin Jo')
store_line

['Karla', 'Maxium', 'Seojin Jo', 'Martin', 'Isabella']

In [36]:
# [+] sort() 정렬하기 
numbers = [4, 2, 1, 3]
numbers.sort()
numbers

[1, 2, 3, 4]

In [37]:
# sorted() 원본값 그대로 유지해서 정렬 
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
hsu_buildings_sorted = (sorted(hsu_buildings))
hsu_buildings_sorted

['늦봄관', '만우관', '소통관', '송암관', '장공관', '장준하통일관', '필헌관']

In [38]:
hsu_buildings

['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']